body {
    min-height: 100vh;
    background: url("/static/images/clouds.jpg") no-repeat 50% 50%;
    background-size: cover;
    background-color: #cccccc;
}

main {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, #cfd9dfe9 0%, #e2ebf050 100%);
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 80vh;
    width: 80vw;
    padding: 2em;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: .1em;
}

h2 {
    font-size: .75em;
    font-family: monospace;
    margin-top:	0;
}

.forms {
    display: grid;
    grid-template-columns: 4fr minmax(0, 1fr);
    row-gap: 1em;
    width: 80%;
    max-width: 900px;
    padding: 1em;
}

input {
    width: 90%;
    padding: 1em;
    font-size: .5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding:  .5em;
    font-size: .6em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

/* JqueryUI widget */
.ui-widget {
    font-size: .75em;
}


@media (max-width: 620px) {
    .forms {
	display: flex;
	flex-direction: column;
    }
}
